.header { /** navbar **/
  color: black !important;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}
.banner {
  /** padding-top controls how much top of banner.jpg is visible **/
  /** It is expressed in vh, which is viewport height. **/
  /** You may change the value but not the units. **/
  padding-top: 30vh !important; 
  text-shadow: 2px 2px 4px #000000; /** for banner sub-title **/
}
.banner-title { /** for banner main title **/
  font-weight: 900;
  text-shadow: 2px 2px 4px #000000;
}
